<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cantor | crypto market insights and analytics</title>
  <!-- partial:partials/_head.html -->
  <link rel="stylesheet" href="/assets/css/azia.css">
  <!-- partial -->

  <link href="/assets/lib/typicons.font/typicons.css" rel="stylesheet">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-lg navbar-dark bg-primary-dark">
    <div class="container">
      <a class="navbar-brand tx-22 font-weight-bold" href="/">cantor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leadUIMainNav"
              aria-controls="leadUIMainNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="typcn icon typcn-th-menu tx-26"></i>
      </button>
      <div class="collapse navbar-collapse" id="leadUIMainNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Support</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="index.html">Terms of use</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="#">Privacy Policy</a>
          </li>
        </ul>
        <div class="form-inline">
          <a class="nav-link text-white" href="#">Log in</a>
        </div>
        <div class="form-inline">
          <button class="btn btn-outline-light text-white">Sign up</button>
        </div>
      </div>
    </div>
  </nav>

</header>

<main>
  <div class="container">
    <section class="lead-landing-section bg-gradient bg-5 pt-5 mt-4">
      <div class="containe2">
        <div class="row">
          <div class="col-md-11">
            <h6 class="font-weight-bold text-primary">Subscription</h6>
            <h1 style="font-size: 3.1rem; line-height: 3.8rem">
              Crypto market <a class="font-weight-bold">performance</a>,<br><a href="#" class="font-weight-bold">insights</a> and <a class="font-weight-bold">analytics</a> for strategic decisions.
            </h1>
            <p class="text-muted">Cantor is gathering intelligence from multiple sources, such as on-chain data, market movements and social behavior to propose risk-adjusted actionable trades.</p>
            <button class="btn btn-primary btn-rounded btn-block mt-5" style="font-size: 1.2rem; max-width: 374px;">Sign up</button>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="container">
    <section>
      <section class="mb-5">
        <h6 class="text-primary mb-4">About</h6>
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mb-3">Data-based analysis confidence for your next trade.</h1>
            <p class="text-muted">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                <span class="h1 mb-0 mr-2 text-primary font-weight-bold">320</span>
                <span>Increase in <br> Revenu</span>
              </div>
              <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                <span class="h1 mb-0 mr-2 text-primary font-weight-bold">100</span>
                <span>Customer <br> Satisfaction</span>
              </div>
              <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                <span class="h1 mb-0 mr-2 text-primary font-weight-bold">199</span>
                <span>Happy <br> Clients</span>
              </div>
              <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                <span class="h1 mb-0 mr-2 text-primary font-weight-bold">240</span>
                <span>Components <br> &amp; Features</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="py-5 mb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
            <i class="typcn icon typcn-chart-line tx-28"></i>
          </div>
          <h5 class="font-weight-bold">Risk Adjusted Returns</h5>
          <p class="text-muted mb-20px">Take risks into account when placing trades over a defined period of time.</p>

        </div>
        <div class="col-md-4">
          <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
            <i class="typcn icon typcn-flow-merge tx-28"></i>
          </div>
          <h5 class="font-weight-bold">Data Driven Decision</h5>
          <p class="text-muted mb-20px">Take trade decisions based on real-time data powered by statistical learning algorithms.</p>

        </div>
        <div class="col-md-4">
          <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
            <i class="typcn icon typcn-folder-add tx-28"></i>
          </div>
          <h5 class="font-weight-bold">Stay up to date</h5>
          <p class="text-muted mb-20px">Stay up to date with newest data reports and news.</p>
        </div>
      </div>
    </section>

    <section class="py-5 mb-5" id="pricingId">
      <h6 class="text-primary mb-4">Pricing</h6>

      <!-- Nav tabs -->
      <ul class="nav nav-pills pricing-nav-pills-outline mb-5" id="pricingTabOne" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" id="pricing-one-mnthly-tab" data-toggle="tab" href="#pricing-one-mnthly" role="tab" aria-controls="pricing-one-mnthly" aria-selected="true">Monthly Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pricing-one-yearly-tab" data-toggle="tab" href="#pricing-one-yearly" role="tab" aria-controls="pricing-one-yearly" aria-selected="false">Annual Plan</a>
        </li>
      </ul>

      <h3 class="text-center font-weight-bold mb-40px">Choose your pricing policy</h3>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active show" id="pricing-one-mnthly" role="tabpanel" aria-labelledby="pricing-one-mnthly-tab">
          <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-2">
              <div class="card border-0 card-shadow">
                <div class="card-body p-lg-5 p-md-4">
                  <h3 class="text-center">Basic Account</h3>
                  <h6 class="text-center mb-5">For Small teams</h6>
                  <ul class="list-checked mb-40px">
                    <li>Drag &amp; Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>ECommerce Store</li>
                  </ul>
                  <div class="d-flex align-items-center justify-content-center mb-30px"><span class="h3 mb-0 mr-1 font-weight-bold">$0</span>/monthly</div>
                  <div class="text-center"><button class="btn btn-primary">Start Free Trial</button></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card border-0 card-shadow">
                <div class="card-body p-lg-5 p-md-4">
                  <h3 class="text-center">Pro Master</h3>
                  <h6 class="text-center mb-5">For Small teams</h6>
                  <ul class="list-checked mb-40px">
                    <li>Drag &amp; Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>ECommerce Store</li>
                  </ul>
                  <div class="d-flex align-items-center justify-content-center mb-30px"><span class="h3 mb-0 mr-1 font-weight-bold">$230</span>/monthly</div>
                  <div class="text-center"><button class="btn btn-primary">Subscribe Now</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pricing-one-yearly" role="tabpanel" aria-labelledby="pricing-one-yearly-tab">
          <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-2">
              <div class="card border-0 card-shadow">
                <div class="card-body p-lg-5 p-md-4">
                  <h3 class="text-center">Basic Account</h3>
                  <h6 class="text-center mb-5">For Small teams</h6>
                  <ul class="list-checked mb-40px">
                    <li>Drag &amp; Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>ECommerce Store</li>
                  </ul>
                  <div class="d-flex align-items-center justify-content-center mb-30px"><span class="h3 mb-0 mr-1 font-weight-bold">$0</span>/yearly</div>
                  <div class="text-center"><button class="btn btn-primary">Start Free Trial</button></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card border-0 card-shadow">
                <div class="card-body p-lg-5 p-md-4">
                  <h3 class="text-center">Pro Master</h3>
                  <h6 class="text-center mb-5">For Small teams</h6>
                  <ul class="list-checked mb-40px">
                    <li>Drag &amp; Drop Builder</li>
                    <li>1,000's of Templates</li>
                    <li>Blog Support Tools</li>
                    <li>ECommerce Store</li>
                  </ul>
                  <div class="d-flex align-items-center justify-content-center mb-30px"><span class="h3 mb-0 mr-1 font-weight-bold">$2300</span>/yearly</div>
                  <div class="text-center"><button class="btn btn-primary">Subscribe Now</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="lead-landing-section mb-5">
      <div class="container">
        <h6 class="text-primary font-weight-bold">Developers</h6>
        <div>
          <div class="d-flex mb-4">
            <h2 class="font-weight-bold mb-0">Upcoming API</h2>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card bd-0">
                <img class="img-fluid" src="assets/img/dash/dash_1.jpg" alt="Image">
                <div class="card-img-overlay pd-30 bg-black-4 d-flex flex-column justify-content-center">
                  <p class="tx-white tx-medium mg-b-15">The Cat Prisoner</p>
                  <p class="tx-white-7 tx-13">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
                  <p class="tx-13 mg-b-0"><a href="" class="tx-white">Read more</a></p>
                </div><!-- card-img-overlay -->
              </div>
            </div>
            <div class="col-md-6 shadow">
              <div class="card border-0 mb-3">
                <div class="card-body">
                  <h3 class="font-weight-bold">Learn design with our new course.</h3>
                  <p class="text-gray mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cupiditate soluta? Animi dolore voluptatem dignissimos vel.</p>
                  <div class="row row-xs">
                    <div class="col-md-9">
                      <input type="text" class="form-control" placeholder="Enter your username">
                    </div><!-- col -->

                    <div class="col-md-3">
                      <button class="btn btn-az-primary btn-block">Subscribe</button>
                    </div><!-- col -->
                  </div><!-- row -->

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>



    <section class="lead-landing-section mb-5">
      <div class="container" id="faqId">
        <h6 class="text-primary font-weight-bold">Help</h6>
        <div id="landing-sass-testimonial-carousel" class="landing-sass-testimonial-carousel carousel slide" data-ride="carousel">
          <div class="d-flex mb-4">
            <h2 class="font-weight-bold mb-0">Frequently asked questions</h2>
          </div>
          <div class="faq-section">
            <div id="accordion-1" class="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed"> How many instances of Lorum Ipsum usage can be found on the web? </a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-1" style="">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"> What is Lorum Ipsum and who invented it? </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1" style="">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How may times Lorum Ipsum has been used in this theme? </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>
</main>

<div class="container pb-5">
  <footer class="lead-footer px-5 py-4">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="footer-brand-wrapper tx-22 font-weight-bold">cantor</div>
        <p class="pb-2 mb-4">Crypto market performance, insights and analytics.</p>
      </div>
      <div class="col-lg-5 ml-md-auto">
        <div class="row">
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="#aboutId" class="nav-link">About</a>
              <a href="#pricingId" class="nav-link">Pricing</a>
              <a href="#!" class="nav-link">Health</a>
            </nav>
          </div>
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="#faqId" class="nav-link">FAQ</a>
              <a href="#!" class="nav-link">Support</a>
            </nav>
          </div>
          <div class="col-sm">
            <nav class="nav footer-nav nav-vertical my-4 my-md-0">
              <a href="#!" class="nav-link">Log in</a>
              <a href="#!" class="nav-link">Sign up</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column flex-sm-row flex-wrap justify-content-between mt-4">
        <p class="footer-text text-gray order-sm-first">©2020. All rights reserved.</p>
      </div>
      <a href="#!" class="nav-link">Cookies Preferences</a>
      <a href="/cookies" class="nav-link">Cookies</a>
      <a href="/privacy" class="nav-link">Privacy</a>
      <a href="/terms" class="nav-link">Terms of Service</a>
      <a href="/imprint" class="nav-link">Imprint</a>
    </div>
  </footer>
</div>
<script src="/assets/lib/jquery/jquery.min.js"></script>
<!-- <script src="/assets/src/vendors/popper.js/popper.min.js"></script> -->
<script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- <script src="/assets/src/js/lead-ui-kit.js"></script> -->
</body>

</html>